@{
    Layout = "~/Views/Shared/_LibraryLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
        <div class="header">
            <a href="~/Home" class="logo">Pirelli</a>
            <div class="header-right">
                <a asp-controller="Home" asp-action="Suport" type="button" class="btn btn-outline-primary">Suporte</a>
                <a asp-controller="Login" asp-action="LogOff" type="button" class="btn btn-outline-primary">Sair</a>
            </div>
        </div>
    <br />
    <br />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
