@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css"/>

@if(ViewBag.ADM == true || ViewBag.master == true || ViewBag.logado == true)
{
<div>
<section class="grid">
	<div class="item">
		@if (ViewBag.ADM == true || ViewBag.master == true || ViewBag.logado == true)
		{
			<h2>Área direcionada para usuários logados++!</h2>
		}
	</div>
	<div class="item">
		@if (ViewBag.ADM == true || ViewBag.master == true)
		{
			<h2>Área direcionada para usuários ADM++!</h2>
		}
	</div>
	<div class="item">
		@if (ViewBag.master == true)
		{
			<h2>Área direcionada para usuários Master!</h2>
		}
	</div>
</section>
</div>
}
else
{
    <li><a asp-area="" asp-controller="Login" asp-action="Index">Login</a></li>
}


