@{
    ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@if(ViewBag.ADM == true || ViewBag.master == true || ViewBag.logado == true)
{
<div>
<section class="grid">
	<div class="item">
		@if (ViewBag.ADM == true || ViewBag.master == true || ViewBag.logado == true)
		{
			<div class="mainContainer">
				<a asp-area="" asp-controller="Troca_senha" asp-action="Index" type="button" class="btn btn-outline-success">Trocar Senha</a>
			</div>
		}
	</div>
	<div class="item">
		@if (ViewBag.ADM == true || ViewBag.master == true)
		{
			<div class="mainContainer">
				<h2>Área direcionada para usuários ADM++!</h2>
			</div>
		}
	</div>
	<div class="item">
		@if (ViewBag.master == true)
		{
			<div class="mainContainer">
				<a asp-area="" asp-controller="Controle_Adm" asp-action="Index" type="button" class="btn btn-outline-success">ControleADM</a>
				<br />
				Área de autenticação de usuários ADM
			</div>
		}
	</div>
</section>
</div>
}
else
{
    <li><a asp-area="" asp-controller="Login" asp-action="Index">Login</a></li>
}
