@model List<LoginViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Controle de Usuários ADM</h2>
<br />
<br />
<table class="table table-responsive">
    <tr>
        <th>User</th>
        <th>Controle ADM</th>
        <th>Ações</th>
    </tr>
    @foreach (var login in Model)
    @if(login.isMaster == false)
    {
        {
            <tr>
                <td>@login.usuario</td>
                <td>@if(login.isADM == true)
                    {
                    <p>Adm</p>
                    }
                    else
                    {
                    <p>User</p>
                    }
                </td>
                <td>@if(login.isADM == true)
                    {
                        <a href="/Controle_Adm/RetiraAdm?usuario=@login.usuario" type="button" class="btn btn-outline-danger">Retirar ADM</a>
                    }
                    else
                    {
                        <a href="/Controle_Adm/ConcedeAdm?usuario=@login.usuario" type="button" class="btn btn-outline-success">Conceder ADM</a>
                    }
                </td>
            </tr>
        }
    }
</table>