@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Controle de Usuários ADM</h2>
<br />
<br />

<div class="container-fluid">
    <h3>Retirado Adm com sucesso!</h3>
    <br />
    <a asp-area="" asp-controller="Controle_Adm" asp-action="Index" type="button" class="btn btn-outline-success">ControleADM</a>
    <a asp-area="" asp-controller="Home" asp-action="Index" type="button" class="btn btn-outline-success">Home</a>
</div>