@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="content">        
        <!--FORMULÁRIO DE CADASTRO-->
        <div id="cadastro">
            <form method="post" action="CadastraLogin">
                <h1>Cadastro</h1>

                <p>
                    <label for="id">Seu Id</label>
                    <input id="id" name="id" required="required" type="text" value="@Model.Id"/>
                </p>
                <p>
                    <label for="usuario">Seu User</label>
                    <input id="usuario" name="usuario" required="required" type="text"/>
                </p>

                <p>
                    <label for="senha">Sua senha</label>
                    <input id="senha" name="senha" required="required" type="password"/>
                </p>

                <p>
                    <input type="submit" value="Cadastrar" />
                </p>

                <p class="link">
                    Já tem conta?
                    <a asp-controller="Login" asp-action="Index"> Ir para Login </a>
                </p>
            </form>
        </div>
    </div>
</div> 