@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">

                <div class="px-5 ms-xl-4">

                    <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                    <img src="https://creativereview.imgix.net/content/uploads/2011/03/Corporatelarge_r.jpg"
                         alt="Logo image" class="w-50 vh-50" style="object-fit: cover; object-position: left;">
                </div>

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <form action="/Login/FazLogin" method="FazLogin" style="width: 23rem;">

                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
                            <div class="form-outline mb-4">
                                <input type="text" name="usuario" required="required" class="form-control form-control-lg" />
                                <label class="form-label">Usuário</label>
                            </div>
                        <div class="form-outline mb-4">
                            <input type="password" name="senha" required="required" class="form-control form-control-lg" />
                            <label class="form-label">Senha</label>
                        </div>
                        <span class="text-danger">@ViewBag.Erro</span> <br />
                        <button class="btn btn-success" type="submit">Submit</button>                       
                        <a type="button" class="btn btn-primary" asp-controller="Login" asp-action="Cadastro">Register here</a>
                        <br />
                        <p>
                        </p>
                    </form>

                </div>

            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="https://www.autoracing1.com/wp-content/uploads/2021/f1/abudhabi/postseasontest/pirelli18-inchtyre-c4vert.jpg"
                     alt="Login image" class="w-100 vh-140" style="object-fit: cover; object-position: left;">
            </div>
        </div>
    </div>
</section>